@tailwind base;
@tailwind components;
@tailwind utilities;


.quotes-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 70px;
}

.quote-border{
    border: 1px solid var(--secondaryColor);
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.quotes-credit{
    border: 1px solid var(--secondaryColor);
    position: absolute;
    bottom: -25px;
    right: 266px;
    padding: 10px;
}

.about-me-section h1::before{
    content: '#';
}

.projects-section{
    padding-top: 10rem;
}
.projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-cards{
    display: flex;
    gap:20px;
    padding-top: 2rem;
}
.project-card{
    flex:1;
    border: 1px solid var(--secondaryColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-card:hover {
    transform: scale(1.02);
}
.line-separator{
    border: none;
    border-top: 1px solid var(--secondaryColor);
}
.card-buttons{
    margin: 10px;
}
.project-tags{
    margin: 5px;
    color: var(--secondaryColor);
}
.card-button {
    border: 1px solid #C778DD;
    padding: 5px;
}
.project-title{
    margin: 5px 10px;
    font-size: 2rem;
    font-weight: 500;
}
.project-description{
    margin: 5px 10px;
    color: var(--secondaryColor);
}
.projects-header h1::before {
    content: '#';
    color:  #C778DD;
}
.projects-heading{
    font-size: 3rem;
}

/* Skills section */
.skills-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}
.skills-boxes{
    display: flex;
    flex-wrap: wrap;
}

.skills-box{
    flex: 1 1 200px;
    border: 1px solid var(--secondaryColor);
    margin: 5px;
}
.skill-box-heading{
    padding: 10px;
}
.skill-box-desc{
    padding: 10px;
}
.skills-area{
    margin-top: 10rem;
}
.skills-heading{
    font-size: 3rem;
}
.skills-area h1::before{
    content: '#';
    color: #C778DD;
}
.skills-heading-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.line-divider {
    display: inline-block;
    width: 300px; /* Adjust width as desired */
    height: 2px; /* Thickness of the line */
    background-color: #a64ac9; /* Use your desired color */
    margin-top: 35px;
    margin-left: 10px; 
}
/* about me section */
.about-me-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.about-me-section h1::before{
    content: '#';
    color: #C778DD;
}
.about-me-heading{
    font-size: 3rem;
}
.about-me-section{
    margin-top: 10rem;
}
.about-me-left{
    padding: 30px;
}
.about-para-margin{
    margin-top: 30px;
}
.about-me-area{
    display: flex;
}
